html,
body {
  background-color: #fff !important;
}
.montserrat {
  font-family: 'Montserrat' !important;
}
.montserrat {
  font-family: 'Ubuntu', sans-serif !important;
}
.ubuntu {
  font-family: 'Ubuntu' !important;
}
.OpenSans {
  font-family: 'Open Sans', sans-serif;
}
.page-container .page-content-wrapper .content {
  padding-top: 0 !important;
}
.text-morado {
  color: #64387d !important;
}
.no-padding-left-right {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
@media only screen and (max-width: 768px) {
  .mt-20 {
    margin-top: 0px;
  }
}
.mt-30 {
  margin-top: 30px;
}
@media (min-width: 320px) and (max-width: 425px) {
  .mt-30 {
    margin-top: 5vh;
  }
}
@media only screen and (max-width: 768px) {
  .mt-30 {
    margin-top: 15px;
  }
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-60 {
  margin-top: 60px !important;
}
.img-responsive {
  max-width: 100%;
  height: 100%;
  display: block;
}
.bold {
  font-weight: bold !important;
}
.btn-orange {
  background-color: #f26f0b;
  color: #fff;
}
.minh-40 {
  display: block;
  min-height: 40vh !important;
}
.minh-30 {
  display: block;
  min-height: 30vh !important;
}
.minh-35 {
  display: block;
  min-height: 35vh !important;
}
.minh-20 {
  display: block;
  min-height: 20vh !important;
}
.p-l-r-2 {
  padding: 0px 2px;
}
.fz-23 {
  font-size: 23px !important;
}
.bold {
  font-weight: bold !important;
}
.semi-bold {
  font-weight: 600 !important;
}
.light {
  font-weight: 100 !important;
}
.no-padding {
  padding: 0px 0px;
}
.mt-10 {
  margin-top: 10px;
}
header {
  background-color: #fff;
  position: relative;
  padding: 2em 0em;
}
header .text-header {
  display: block;
  margin-top: 10%;
}
header .text-header span {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
  color: #8d8d8d;
  font-size: 14px;
}
header .text-header p {
  color: #ffa703;
  font-size: 24px;
}
header .text-header-last {
  display: block;
}
header .text-header-last h4 {
  font-weight: 600;
}
header .text-header-last p {
  color: #8d8d8d;
}
.flayer {
  position: relative;
  height: 600px;
  background-image: url("../images/banner-desktop.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.after-flayer {
  position: relative;
  display: block;
  padding: 2em 0em;
  background-color: #ff9331;
}
.after-flayer .titulos {
  display: -webkit-inline-box;
}
.after-flayer .titulos h4 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin: 0px 10px;
}
.materiales {
  position: relative;
}
.materiales .bg-1 {
  display: block;
  background-image: url("../images/materiales/pro1.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.materiales .bg-2 {
  display: block;
  background-image: url("../images/materiales/pro2.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.materiales .bg-3 {
  display: block;
  background-image: url("../images/materiales/pro3.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.materiales .bg-4 {
  display: block;
  background-image: url("../images/materiales/pro4.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.materiales h2 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 30vh;
  width: 100vw;
  color: #ab4500;
}
.materiales h2 span {
  font-weight: 900;
}
.materiales .titulo-contenido {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: rgba(255,255,255,0.4);
}
.materiales .titulo-contenido h3 {
  padding: 0px 15px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  text-transform: uppercase;
  font-weight: 600;
}
.materiales .titulo-contenido p {
  padding-top: 0px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 0px;
  margin: 0px 0px;
  text-transform: uppercase;
  color: #292929;
  font-weight: 500;
}
.proveedor {
  padding: 2em 0em;
}
.proveedor .proveedor-contenido {
  padding: 0em 4em;
}
.proveedor h1 {
  font-weight: 400;
}
.proveedor h1,
.proveedor p {
  color: #ab4500;
}
.proveedor p {
  font-size: 16px;
}
.proveedor ul {
  list-style: none;
}
.proveedor figure {
  margin: 0 auto;
}
.proveedor figure img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  display: block;
}
.productos {
  position: relative;
  padding-top: 1em;
  padding-bottom: 4em;
}
.productos h1 {
  background-color: #ab4500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5em 0em;
}
.productos h2 {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  height: 25vh;
  width: 100vw;
  color: #808080;
  font-size: 32px;
}
.productos figure {
  position: relative;
}
.productos figure figcaption {
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background-color: #d8d9db;
}
.productos figure figcaption h4 {
  padding: 0px 15px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
  text-transform: uppercase;
  font-weight: 600;
}
.productos a {
  color: #515151;
  text-decoration: none;
}
.productos a:hover {
  color: #515151;
  text-decoration: none;
}
.nav-tabs-team {
  position: relative;
}
.nav-tabs-team .tab-content {
  min-height: 40vh;
}
.nav-tabs-team .tab-content .contenido {
  padding: 4em 0em;
}
.nav-tabs-team .tab-content .contenido h1,
.nav-tabs-team .tab-content .contenido p {
  color: #ab4500;
}
.nav-tabs-team .tab-content .contenido p {
  font-size: 16px;
}
footer {
  background-color: #333;
  padding: 2em 0em;
  position: relative;
}
footer .text-header {
  display: block;
  margin-top: 5%;
}
footer .text-header span {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}
footer .text-header p {
  color: #fff;
  font-size: 24px;
}
footer .text-header-last {
  display: block;
}
footer .text-header-last h4 {
  font-weight: 600;
  color: #fff;
}
footer .text-header-last p {
  color: #fff;
}
footer ul {
  list-style: none;
  padding: 0px 0px;
  margin: 0px 0px;
  text-align: center;
}
footer ul li {
  display: inline-block;
  margin: 10px 15px;
}
footer form .btn-primary {
  background-color: #ab4500 !important;
  color: #fff;
  border: 0px;
}
