color-orange = #ab4500

.minh-40
	display block
	min-height 40vh !important
	
.minh-30
	display block
	min-height 30vh !important
	
.minh-35
	display block
	min-height 35vh !important

.minh-20
	display block
	min-height 20vh !important
	
.p-l-r-2
	padding 0px 2px !important
	
.fz-23
	font-size 23px !important
	
.bold
	font-weight bold !important

.semi-bold 
	font-weight 600 !important
	
.light 
	font-weight 100 !important
	
.no-padding
	padding 0px 0px !important

.mt-10
	margin-top 10px

header 
	bg-color(color-white)
	relative()
	padding 2em 0em
	
	.text-header
		display block
		margin-top 10%
		span
			font-style italic
			text-transform uppercase
			font-weight 600
			color #8D8D8D
			font-size 14px
		p 
			color #FFA703
			font-size 24px
	
	.text-header-last
		display block
		h4 
			font-weight 600
			
		p 
			color #8D8D8D
			
.flayer
	relative()
	height 600px
	bg-image(url(../images/banner-desktop.svg))
	bg-position(center, center)
	bg-repeat(no-repeat)
	bg-size(cover)
	
.after-flayer
	relative()
	display block
	padding 2em 0em
	bg-color(#ff9331)
	.titulos
		display -webkit-inline-box
		h4 
			color color-white
			text-transform uppercase
			text-align center
			margin 0px 10px
			
.materiales
	relative()
	.bg-1
		display block
		bg-image(url(../images/materiales/pro1.png))
		bg-position(center, center)
		bg-repeat(no-repeat)
		bg-size(cover)
		
	.bg-2
		display block
		bg-image(url(../images/materiales/pro2.png))
		bg-position(center, center)
		bg-repeat(no-repeat)
		bg-size(cover)
		
	.bg-3
		display block
		bg-image(url(../images/materiales/pro3.png))
		bg-position(center, center)
		bg-repeat(no-repeat)
		bg-size(cover)
	
	.bg-4
		display block
		bg-image(url(../images/materiales/pro4.png))
		bg-position(center, center)
		bg-repeat(no-repeat)
		bg-size(cover)
		
	h2
		text-transform uppercase
		font-weight 400
		text-align center
		display table-cell
		vertical-align middle
		height 30vh
		width 100vw
		color color-orange
		span 
			font-weight 900
	
	.titulo-contenido
		absolute bottom 0% left 0% right 0%
		bg-rgba(color-white, 40%)

		h3 
			padding 0px 15px 0px 5px			
			margin-top 10px
			margin-left 0px 
			margin-bottom 0px
			margin-right 0px
			text-transform uppercase 
			font-weight 600
		p 
			padding-top 0px
			padding-left 15px 
			padding-bottom 10px
			padding-right 0px
			margin 0px 0px 10px 0px
			text-transform uppercase
			color #292929
			font-weight 500
			
.proveedor 
	padding 2em 0em
	.proveedor-contenido
		padding 0em 4em
	h1 
		font-weight 400
	h1, p 
		color color-orange
		
	p 
		font-size 16px
		
	ul 
		list-style none
	figure 
		margin 0 auto
		img 
			margin 0 auto
			max-width 100%
			height auto
			display block
			
.productos
	relative()
	padding-top 1em
	padding-bottom 4em
	h1 
		bg-color(color-orange)
		color color-white
		text-transform uppercase
		text-align center
		padding 0.5em 0em
			
	h2 
		text-align center
		display table-cell
		vertical-align middle
		height 25vh
		width 100vw
		color #808080
		font-size 32px
	figure 
		
		relative()
		figcaption
			absolute bottom 0% left 0% right 0%
			bg-rgba(color-white, 40%)
			
			h4 
				padding 0px 15px 10px 5px				
				margin-top 10px
				margin-left 0px 
				margin-bottom 10px
				margin-right 0px
				text-transform uppercase 
				font-weight 600
				
				
	a 
		color #515151
		text-decoration none
		&:hover
			color #515151
			text-decoration none
.nav-tabs-team
	relative()
	//min-height 100vh
	.tab-content
		min-height 40vh
		.contenido
			padding 4em 0em
			
			h1, p 
				color color-orange
			p 
				font-size 16px
				
footer
	bg-color(#333333)
	padding 2em 0em
	relative()
	
	.text-header
		display block
		margin-top 5%
		span
			font-style italic
			text-transform uppercase
			font-weight 600
			color color-white
			font-size 14px
		p 
			color color-white
			font-size 24px
	
	.text-header-last
		display block
		h4 
			font-weight 600
			color color-white
			
		p 
			color color-white
			
	ul
		list-style none
		padding 0px 0px 0px 0px
		margin 0px 0px 0px 0px
		text-align center
		li 
			display inline-block
			margin 10px 15px
			
	form
		.btn-primary
			bg-color(color-orange !important)
			color color-white
			border 0px